@import "tailwindcss";

@theme {
  --font-serif: "Crimson Pro", serif;
  --font-sans: "General Sans", sans-serif;
}

@layer base {
  ::selection {
    @apply bg-neutral-800 text-neutral-100;
  }

  html {
    scrollbar-gutter: stable;
  }
}

@layer components {
  a {
    @apply underline;
    text-underline-offset: 3px;
  }

  p {
    @apply max-w-lg;
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  select {
    @apply appearance-none rounded px-1 text-neutral-400 outline-0 outline-neutral-400 focus:text-neutral-800 focus:outline;
  }

  ul,
  ol {
    @apply !pl-4;
  }

  pre {
    &::before {
      width: 100%;
      display: block;
      text-align: end;
      content: attr(data-language);
      @apply mb-2 text-neutral-400;
    }

    @apply overflow-x-auto rounded border border-neutral-200 p-4;
  }

  button,
  .button {
    &.primary {
      @apply z-10 flex w-full cursor-pointer items-center justify-center gap-2 rounded-full bg-neutral-900 p-2 px-6 text-neutral-100 no-underline transition-opacity hover:opacity-90 sm:w-max;
    }
  }

  article {
    ul {
      list-style-type: disc;
    }
  }

  input,
  textarea {
    @apply rounded border border-neutral-300 px-4 py-2 outline-0 focus:ring-2 focus:ring-neutral-300;
  }
}

