---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="space-y-8">
    <section>
      <h1 class="text-2xl">Hi I'm Ony, and I build apps.</h1>

      <p class="mt-4 text-lg text-neutral-600">
        Welcome to my digital garden, where I share<span
          class="text-neutral-500 italic">(I will)</span
        >, about almost everything, but mostly programming/software stuff. Hope
        you'll find something interesting here.
      </p>
    </section>

    <hr class="border-neutral-300" />

    <section class="space-y-4">
      <hgroup>
        <h2 class="text-xl">Portfolio</h2>

        <p class="mt-1 text-neutral-600 italic">The forever WIP</p>
      </hgroup>
    </section>
  </div>
</Layout>
