---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";

const mms = await getCollection("portfolio");
---

<Layout>
  <section class="space-y-8 py-12">
    <h1>Portfolio</h1>

    <div>
      {
        mms.map((portfolioItem) => {
          return <PortfolioItem {...portfolioItem.data} />;
        })
      }
    </div>
  </section>
</Layout>
