:root {
  --ff-sans: sans-serif;
  --ff-serif: serif;
  --ff-mono: monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@theme inline {
  --font-sans: var(--ff-sans);
  --font-mono: var(--ff-mono);
  --font-serif: var(--ff-serif);

  --animate-fade-in: fadeIn both;
}

@layer base {
  @keyframes noise {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  ::selection {
    background-color: var(--color-primary);
    color: var(--color-primary-foreground);
  }
}

@layer components {
  body {
    @apply text-base leading-relaxed;
  }

  code {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold;
  }

  p {
    text-wrap: pretty;
  }

  p,
  button,
  a {
    @apply font-sans font-light;
  }

  a {
    &:not([data-slot="button"]) {
      @apply underline;
    }
  }

  ul {
    @apply pl-4;
  }

  article {
    @apply space-y-6;

    blockquote {
      @apply text-muted-foreground border-accent border-l-4 pl-4 italic;
    }

    code {
      @apply bg-accent rounded px-1;
    }

    h2,
    h3,
    h4 {
      @apply !mt-8 !mb-2;
    }
  }

  pre {
    background-color: transparent !important;

    code {
      @apply space-y-1 bg-transparent px-0;
    }

    span.line {
      @apply inline-block w-full px-4 leading-loose;
    }

    span.highlighted {
      @apply bg-accent;
    }
  }
}
