---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

interface Props {
  backUrl?: string;
}

const { backUrl } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="sticky top-0 z-50 bg-neutral-100 py-4">
  <button
    role="link"
    id="back-button"
    data-back-url={backUrl}
    class="cursor-pointer flex items-center gap-2 font-sans text-neutral-500 underline transition-colors hover:text-neutral-700 print:hidden"
  >
    <Icon name="lucide:arrow-left" />

    <span>
      {t("global.back")}
    </span>
  </button>
</div>

<script>
  function goBack(e: MouseEvent) {
    const backUrl = (e.currentTarget as HTMLButtonElement)?.dataset.backUrl;
    if (backUrl) {
      window.location.href = backUrl;
    } else {
      if (window.history.length > 1) {
        window.history.back();
      } else {
        window.location.href = "/";
      }
    }
  }

  const backButton = document.getElementById("back-button");

  backButton?.addEventListener("click", goBack);
</script>
