---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="py-4 sticky top-0 bg-neutral-100 z-50">
  <button
    id="back-button"
    class="flex items-center gap-2 font-sans text-neutral-500 underline transition-colors hover:text-neutral-700 print:hidden"
  >
    <Icon name="lucide:arrow-left" />

    <span>
      {t("global.back")}
    </span>
  </button>
</div>

<script>
  function goBack() {
    window.history.back();
  }

  const backButton = document.getElementById("back-button");

  backButton?.addEventListener("click", goBack);
</script>
