---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<span title={title} class="text-neutral space-x-1 print:hidden">
  <slot />
  <span id="time"></span>
</span>

<script>
  function updateTime() {
    document.getElementById("time")!.textContent = new Date().toLocaleString(
      "en-US",
      {
        timeZone: "Indian/Antananarivo",
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
      },
    );
  }

  updateTime();
  setInterval(updateTime, 1000);
</script>
