---
import type { HTMLAttributes } from "astro/types";
type Props = {
  title: string;
} & HTMLAttributes<"section">;

const { title, class: className, ...rest } = Astro.props;
---

<section {...rest} class:list={[className]}>
  <h2 class="font-semibold">{title}</h2>

  <hr class="my-1 border-neutral-300" />

  <ul class="mt-3 list-disc space-y-8 pl-2">
    <slot />
  </ul>
</section>
