---
const { pathname } = Astro.url;

const currentLang = pathname === "/fr" ? "fr" : "en";
---

<label class="print:hidden">
  <select>
    <option value="/fr" selected={currentLang === "fr"}>Français</option>
    <option value="/" selected={currentLang === "en"}>English</option>
  </select>
</label>

<script>
  const select = document.querySelector("select");
  select?.addEventListener("change", (e) => {
    window.location.href = (e.target as HTMLSelectElement).value;
  });
</script>
