<label class="print:hidden">
  <select id="language-select">
    <option value="/fr">Français</option>
    <option value="/">English</option>
  </select>
</label>

<script>
  const select = document.querySelector(
    "#language-select",
  ) as HTMLSelectElement;
  if (select) {
    const currentPath = window.location.pathname;
    select.selectedIndex = currentPath === "/fr" ? 0 : 1;

    select.addEventListener("change", (e) => {
      const target = e.target as HTMLSelectElement;
      const newPath = target.options[target.selectedIndex].value;
      if (newPath !== window.location.pathname) {
        window.location.href = newPath;
      }
    });
  }
</script>
