---
import { Icon } from "astro-icon/components";
---

<button
  id="print-button"
  class="flex items-center gap-2 rounded-full bg-neutral-900 px-4 py-2 text-neutral-100 shadow-md transition-colors hover:bg-neutral-800"
>
  <Icon name="lucide:printer-check" size={18} />
  <span>Print</span>
</button>

<script>
  const printButton = document.getElementById("print-button");

  printButton?.addEventListener("click", () => {
    window.print();
  });
</script>
