---
import Techno from "./Techno.astro";

interface Props {
  name: string;
  techno?: string[];
  url: string;
}

const { name, techno, url } = Astro.props;
---

<li>
  <h3 class="text-lg">
    <a target="_blank" href={url}>
      {name}
    </a>
  </h3>

  <div class="mt-2">
    <slot name="date" />
    <slot name="description" />
  </div>

  <div class="mt-4">
    {techno && <Techno techno={techno} />}
  </div>
</li>
