---
interface Props {
  techno: string[];
}

const { techno } = Astro.props;
const { pathname } = Astro.url;
---

<div class="flex gap-1">
  <p>{pathname === "/fr" ? "Techno" : "Stack"}: {" "}</p>
  <div class="flex flex-wrap gap-2">
    {
      techno.map((tech, index) => (
        <span>
          {tech}
          {index < techno.length - 1 && <span>,</span>}
        </span>
      ))
    }
  </div>
</div>
