---
import { formatDate } from "../lib/utils.ts";
import { render, type CollectionEntry } from "astro:content";

interface Props extends CollectionEntry<"blog"> {}

const blog = Astro.props;

const { Content } = await render(blog);
---

<article class="space-y-8">
  <div class="space-y-4">
    <h1 class="flex justify-between items-end">
      {blog.data.title}

      <time
        datetime={blog.data.pubDate.toString()}
        class="block text-base text-neutral-500 italic"
      >
        {formatDate(blog.data.pubDate)}
      </time>
    </h1>
    <p class="text-lg text-neutral-600">
      {blog.data.description}
    </p>
  </div>

  <hr class="border-neutral-300" />

  <Content />
</article>
