---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
import LanguageSwitch from "../components/LanguageSwitch.astro";

const { pathname } = Astro.url;
const lang = pathname === "/fr" ? "fr" : "en";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1,2&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ony | CV</title>
  </head>
  <body class="bg-neutral-100 font-serif text-neutral-900">
    <main class="mx-auto max-w-xl px-6 py-12 md:px-0">
      <slot />
    </main>

    <div class="fixed right-6 bottom-4">
      <LanguageSwitch />
    </div>
    <Analytics/>
  </body>
</html>
