---
import "../styles/global.css";
// import PrintButton from "../components/Print.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1,2&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ony | CV</title>
  </head>
  <body class="bg-neutral-100 font-serif text-neutral-900">
    <main class="mx-auto max-w-lg px-6 py-12 md:px-0">
      <slot />

      <!-- <PrintButton /> -->
    </main>
  </body>
</html>
