---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Layout from "./Layout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";

const mms = await getCollection("portfolio");
---

<Layout>
  <section class="space-y-8 py-12">
    <h1>Portfolio</h1>

    <div class="space-y-12">
      {
        mms.map((portfolioItem) => {
          return (
            <>
              <PortfolioItem {...portfolioItem.data} />
              <hr class="border-neutral-300" />
            </>
          );
        })
      }
    </div>

    <div class="flex justify-center">
      <a
        href="https://github.com/ony-boom"
        class="z-10 flex cursor-pointer items-center gap-2 rounded-full bg-neutral-900 px-6 py-1 text-sm text-neutral-100 no-underline transition-opacity hover:opacity-90"
      >
        <span>
          <Icon name="mdi:github" size={18} />
        </span>
        <span> Github </span>
      </a>
      <div
        class="absolute -top-20 left-0 h-16 w-full bg-gradient-to-b from-transparent to-neutral-100"
      >
      </div>
    </div>
  </section>
</Layout>
