---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import BackButton from "../components/BackButton.astro";
import PrintButton from "../components/PrintButton.astro";
import { getCollection } from "astro:content";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Project from "../components/Project.astro";
import type { TranslationKey } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const portfolio = (await getCollection("portfolio")).slice(0, 2);
---

<Layout>
  <div class="space-y-8 py-8 font-serif">
    <BackButton backUrl={lang === "fr" ? "/fr" : "/"} />
    <div>
      <hgroup class="space-y-4">
        <h1 class="font-semibold">
          <span>Ony</span>
          <span class="uppercase">Rakotonirina</span>
        </h1>

        <hr class="border-neutral-300" />

        <p class="text-lg">{t("resume.jobTitle")}</p>
      </hgroup>

      <div class="text-neutral-600">
        <p class="mt-1 flex flex-wrap gap-3">
          <a href="mailto:onyrakoto27@gmail.com">onyrakoto27@gmail.com</a>
          <span>|</span>
          <a href="https://ony.world" target="_blank"> ony.world </a>
          <span>|</span>
          <span>+261 032 96 772 26</span>
        </p>
      </div>
    </div>

    <section>
      <h2 class="text-xl font-semibold">
        {t("resume.about")}
      </h2>

      <hr class="my-1 border-neutral-300" />

      <p class="mt-2">
        {t("resume.about.description")}
      </p>
    </section>

    <ExperienceSection title={t("resume.experiences.title")}>
      <Experience
      when={[new Date("2023-04-14"), new Date("2025-07-28")]}
        where={{
          name: "BOCASAY",
          url: "https://www.bocasay.com/madagascar-agile-it-service-centre/",
        }}
        title={t("resume.experience.bocasay.developer.title")}
        techno={["React", "ExtJS", "GraphQL", "SQL"]}
      >
        <p slot="description">
          {t("resume.experience.bocasay.developer.description")}
        </p>
      </Experience>

      <Experience
        when={[new Date("2022-11-01"), new Date("2023-04-01")]}
        where={{
          name: "BOCASAY",
          url: "https://www.bocasay.com/madagascar-agile-it-service-centre/",
        }}
        title={t("resume.experience.bocasay.intern.title")}
        techno={["TypeScript", "VS Code API", "React"]}
      >
        <p slot="description">
          {t("resume.experience.bocasay.intern.description")}
        </p></Experience
      >
    </ExperienceSection>

    <ExperienceSection
      title={t("resume.studies.title")}
      class="mt-12"
      style={{ "page-break-before": "always" }}
    >
      <Experience
        title={t("resume.studies.sayna.title")}
        where={{
          name: "SAYNA",
          url: "https://sayna.io/",
        }}
        when={[new Date("2020-10-01"), new Date("2021-07-01")]}
      >
        <p slot="description">
          {t("resume.studies.sayna.description")}
        </p>

        <p slot="extra" class="mt-2">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1OdNuCwUzestFYlSSe5S_uqk_k7u0uRe-/view?usp=sharing"
          >
            <span class="text-neutral-600"
              >{t("resume.studies.sayna.certificate")}</span
            >
          </a>
        </p>
      </Experience>
    </ExperienceSection>

    <section>
      <h2 class="font-semibold">Projects</h2>

      <hr class="my-1 border-neutral-300" />

      <ul class="mt-3 list-disc space-y-8 pl-2">
        {
          portfolio.map((project) => (
            <Project
              url={
                project.data.links.find((link) => link.type === "source")?.url!
              }
              name={t(project.data.name as TranslationKey)}
              techno={project.data.techStack}
            >
              <p slot="description">
                {t(project.data.description as TranslationKey)}
              </p>
            </Project>
          ))
        }
      </ul>
    </section>

    <section>
      <h2 class="text-xl font-semibold">{t("resume.languages.title")}</h2>

      <hr class="my-1 border-neutral-300" />

      <ul class="mt-3 list-disc space-y-4 pl-2">
        <li>
          <p>{t("resume.languages.malagasy")}</p>
        </li>
        <li>
          <p>{t("resume.languages.french")}</p>
        </li>
        <li>
          <p>{t("resume.languages.english")}</p>
        </li>
      </ul>
    </section>

    <section>
      <h2 class="text-xl font-semibold">{t("resume.links.title")}</h2>

      <hr class="my-1 border-neutral-300" />

      <ul class="mt-3 list-disc space-y-4 pl-2">
        <li>
          <a href="https://github.com/ony-boom" target="_blank">
            Github
            <span class="hidden print:inline"> : github.com/ony-boom </span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://linkedin.com/in/ony-boom">
            LinkedIn

            <span class="hidden print:inline">
              : linkedin.com/in/ony-boom
            </span>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <div class="fixed right-26 bottom-4 flex flex-col gap-2 print:hidden">
    <PrintButton />
  </div>
</Layout>
